<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"
    ><strong>{{ pending }}</strong> Pending Task</span
  >
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li *ngFor="let filter of filters" (click)="filterSelected(filter)">
      <a [class.selected]="filter === actualFilter" href="#">
        {{ filter | titlecase }}
      </a>
    </li>
  </ul>
  <button class="clear-completed" (click)="clearCompleted()">
    Clear completed
  </button>
</footer>
